node_modules
.env
.DS_Store
server_prefixes.json
server_winning_rates.json
server_config.json
server_prize_configs.json
server_game_settings.json
server_unbtokens.json
error.md
idea.md
aaa_zips
architecture.md
mug.zip
